<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <node pkg="web_video_server" name="web_video_server" type="web_video_server"/>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="false"/>


    <param name="brightness" value="50"/>
    <param name="contrast" value="5"/>
    <param name="saturation" value="50"/>
    <param name="sharpness" value="5"/>
    <param name="auto_white_balance" value="false"/>
    <param name="white_balance" value="4000"/>
    <param name="autoexposure" value="false"/>
    <param name="exposure" value="70"/>
    </node>
  <node pkg="imageprocess" name="imageprocess" type="imageprocess" output="screen"/>
</launch>
